
body {
  background-color: #1f1f28;
  color: #dcd7ba;
  font-family: monospace;
}

::selection {
  background-color: #223249;
}

h1 {
  color: #fc9e65;
}

h2 {
  color: #e5c283;
}

h3 {
  color: #678b86;
}

li::marker {
  color: #b76f88;
}

a {
  color: #80a8bf;
}

nav a {
  border: 2px ridge #80a8bf;
  text-decoration: none;
}

table, table th, table td {
  border: 1px solid #54546D;
}

table {
  border-collapse: collapse;
}

body {
  margin: auto;
  padding: 0px 10px;
  max-width: 1000px;
}

header * {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 5px;
  margin: 0px 10px;
}

table {
  margin: auto;
}

table * {
  padding: 5px;
}

table caption {
  font-weight: bold;
  color: #e5c283;
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.table-container table {
  margin: 0px;
}

.card-container thead th {
  text-align: left;
}

.card-container thead td {
  text-align: right;
}

.card-container td, .card-container th {
  border: none;
}

.card-container table {
  width: calc(100% - 40px);
  margin: 20px;
}

.card-container tr {
  border: 1px dashed #54546D;
}

