:root {
  --bg-color: #1F1F28;
  --fg-color: #DCD7BA;
  --alt-bg-color: #54546D;
  --alt-fg-color: #72A7BC;

  --sel-color: #2D4F67;

  --accent-color: #7e9cd8;

  --complete-color: #76946a;
  --in-progress-color: #c0a36e;
  --unstarted-color: #c34043;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: monospace;
}

::selection {
  background-color: var(--sel-color);
}

h1 {
  color: var(--accent-color);
}

h2 {
  color: var(--accent-color);
}

h3 {
  color: var(--accent-color);
}

li::marker {
  color: var(--accent-color);
}

a {
  color: var(--alt-fg-color);
}

nav a {
  border: 2px ridge var(--alt-fg-color);
  text-decoration: none;
}

table, table th, table td {
  border: 1px solid var(--alt-bg-color);
}

table {
  border-collapse: collapse;
}

body {
  margin: auto;
  padding: 0px 10px;
  max-width: 1000px;
}

header * {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 5px;
  margin: 0px 10px;
}

table {
  margin: auto;
}

table td, table tr, table th, table caption {
  padding: 5px;
}

table caption {
  font-weight: bold;
  color: var(--accent-color);
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px;
}

.table-container table {
  margin: 0px;
}

.table-container table th, .table-container table td {
  max-width: 300px;
}

.card-container thead th {
  text-align: left;
  color: var(--accent-color);
}

.card-container thead td {
  text-align: right;
}

.card-container td, .card-container th {
  border: none;
}

.card-container table {
  width: calc(100% - 40px);
  margin: 20px;
}

.card-container tbody {
  border-top: 1px dashed var(--alt-bg-color);
}

.card-container tbody ul {
  margin: 0px;
  padding-left: 15px;
}

.complete, .in-progress, .unstarted {
  display: inline-block;
  width: 1.5ex;
  height: 1.5ex;
  border-radius: 0.75ex;
  margin: 0em 0.25em 0em 0em;
}

.complete {
  background-color: var(--complete-color);
}

.in-progress {
  background-color: var(--in-progress-color);
}

.unstarted {
  background-color: var(--unstarted-color);
}
