
/* STYLISTIC */

body {
  background-color: #1f1f28;
  color: #dcd7ba;
  font-family: monospace;
}

::selection {
  background-color: #223249;
}

h1 {
  color: #fc9e65;
}

h2 {
  color: #e5c283;
}

h3 {
  color: #678b86;
}

li::marker {
  color: #b76f88;
}

a {
  color: #80a8bf;
}

nav a {
  border: 3px ridge;
  text-decoration: none;
}

table, table th, table td {
  border: 1px solid #dcd7ba;
}

table {
  border-collapse: collapse;
}

/* LAYOUT */

body {
  margin: auto;
  padding: 0px 10px;
  max-width: 800px;
}

header * {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 5px;
  margin: 0px 10px;
}

table {
  margin: auto;
}

table * {
  padding: 5px;
}


